@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #ffd900;
  width: 100%;
  height: 5rem; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    header nav .logo a img {
      width: 150px;
      height: 42.86px; }
    header nav div a {
      font-family: "Roboto Slab", serif;
      font-size: 15px;
      text-decoration: underline;
      color: #19284C;
      margin: 5px; }

.cuerpo {
  display: grid;
  background-color: #19284C;
  grid-template-areas: "carrusel carrusel" "servicios" "ubicacion" "info"; }
  .cuerpo .carrusel {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(../img/carrusel1.jpg);
    background-position: center;
    background-size: cover;
    transition: all .1s ease-in-out;
    animation: banner 28s infinite linear; }
    .cuerpo .carrusel .banner-content {
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .cuerpo .carrusel .banner-content .info h1 {
        font-family: "Roboto Slab", serif;
        font-weight: 800;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%; }
      .cuerpo .carrusel .banner-content .info p {
        font-family: "Roboto Slab", serif;
        width: 50%;
        font-weight: 400;
        text-align: center; }
  .cuerpo .vendedores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .cuerpo .vendedores .card {
      margin: 1rem;
      background-color: #ffd700;
      box-shadow: 10px 10px 5px 0px black; }
      .cuerpo .vendedores .card .card-body {
        text-align: center;
        color: #19284C; }
    .cuerpo .vendedores .container {
      width: 100%; }
      .cuerpo .vendedores .container .swiper-container {
        width: 100%;
        height: 100%; }
      .cuerpo .vendedores .container .swiper-wrapper {
        display: flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1928c4;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%; }
        .cuerpo .vendedores .container .swiper-wrapper .swiper-slide {
          position: relative;
          font-size: 18px;
          background: #ffd700;
          border-radius: 15px;
          box-shadow: 10px 10px 5px 0px #000000;
          text-align: center; }
          .cuerpo .vendedores .container .swiper-wrapper .swiper-slide img {
            display: block;
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px; }
          .cuerpo .vendedores .container .swiper-wrapper .swiper-slide .card-description {
            padding: 1rem 1rem; }
          .cuerpo .vendedores .container .swiper-wrapper .swiper-slide .card-link {
            text-align: center; }
            .cuerpo .vendedores .container .swiper-wrapper .swiper-slide .card-link a {
              text-decoration: none;
              color: #1d6ce2; }
      .cuerpo .vendedores .container .swiper-button-next {
        right: 26px !important; }
      .cuerpo .vendedores .container .swiper-button-prev {
        left: 26px !important; }
    .cuerpo .vendedores .hacemos {
      display: flex; }
      .cuerpo .vendedores .hacemos .why {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%; }
        .cuerpo .vendedores .hacemos .why .why-2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #ffd700;
          border-radius: 15px;
          height: 400px;
          width: 400px;
          text-align: center; }
      .cuerpo .vendedores .hacemos .video {
        display: flex;
        justify-content: center;
        align-items: center; }

@keyframes banner {
  0% {
    background-image: url(../img/carrusel1.jpg); }
  25% {
    background-image: url(../img/carrusel1.jpg); }
  26% {
    background-image: url(../img/carrusel2.jpg); }
  50% {
    background-image: url(../img/carrusel2.jpg); }
  51% {
    background-image: url(../img/carrusel3.jpg); }
  75% {
    background-image: url(../img/carrusel3.jpg); }
  76% {
    background-image: url(../img/WhatsApp_); }
  100% {
    background-image: url(../img/WhatsApp_); } }

#pie {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #ffd700; }
