@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd900;
  width: 100%;
  position: sticky;
  top: 0px;
  height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 2;
  border-bottom: solid 0.3px #04045c; }
  header .logo a img {
    width: 200px;
    height: 57.14px; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    header nav .btn-menu-close {
      display: none; }
    header nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin-bottom: 0px; }
      header nav ul li {
        margin: 5px 5px;
        border-radius: 15px; }
        header nav ul li a {
          font-family: "Roboto Slab", serif;
          font-size: 13px;
          text-decoration: none;
          color: #19284C;
          margin: 0px;
          font-weight: 500;
          padding-bottom: 5px;
          border-bottom: 2px solid #19284C;
          padding-top: 5px;
          padding-left: 2px;
          padding-right: 2px;
          border-radius: 4px; }
  header .btn-menu-toggle {
    display: none !important; }
  header .fondo-opaciti {
    display: none; }

.link-nav:hover {
  font-weight: bold;
  background-color: yellow;
  border-bottom: 3px solid #19284C; }

@media (max-width: 818px) {
  header {
    padding-left: 1rem;
    padding-right: 1rem; }
    header nav {
      background-color: #ffd900;
      position: fixed;
      right: 0px;
      bottom: 0px;
      width: 250px;
      height: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column; }
      header nav .nav-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px; }
        header nav .nav-1 li {
          margin-top: 20px; }
      header nav .btn-menu-close {
        display: block;
        background-color: yellow;
        position: absolute;
        top: 7px;
        right: 7px;
        padding-left: 8px;
        padding-right: 8px;
        border: none;
        border-radius: 7px; }
      header nav .menu-btn-close {
        display: block !important; }
    header .active-div {
      display: block !important; }
    header .fondo-opaciti {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.537); }
    header .btn-menu-toggle {
      display: block !important;
      background-color: inherit;
      border: none; }
      header .btn-menu-toggle .icon path {
        color: #19284C; }
  nav.toggle {
    right: -1000px; }
  .btn-menu-toggle {
    display: block !important; } }

@media (orientation: portrait) {
  header {
    padding-left: 1rem;
    padding-right: 1rem; }
    header nav {
      background-color: #ffd900;
      position: fixed;
      right: 0px;
      bottom: 0px;
      width: 250px;
      height: 100%;
      z-index: 1; }
      header nav .nav-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 320px; }
        header nav .nav-1 li {
          margin-top: 10px; }
      header nav .btn-menu-close {
        display: block;
        background-color: yellow;
        position: absolute;
        top: 7px;
        right: 7px;
        padding-left: 8px;
        padding-right: 8px;
        border: none;
        border-radius: 7px; }
      header nav .menu-btn-close {
        display: block !important; }
    header .active-div {
      display: block !important; }
    header .fondo-opaciti {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.537); }
    header .btn-menu-toggle {
      display: block !important;
      background-color: inherit;
      border: none; }
      header .btn-menu-toggle .icon path {
        color: #19284C; } }

.carrusel {
  grid-area: carrusel;
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url(../img/carrusel1.jpg);
  background-position: center;
  background-size: cover;
  transition: all .1s ease-in-out;
  animation: banner 28s infinite linear; }
  .carrusel .banner-content {
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0.902398) 40%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: center; }
    .carrusel .banner-content .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .carrusel .banner-content .info h2 {
        font-family: "Roboto Slab", serif;
        font-weight: 800;
        font-size: 35px;
        width: 80%;
        color: #ffd700;
        text-align: center; }
      .carrusel .banner-content .info p {
        font-family: "Roboto Slab", serif;
        width: 80%;
        font-weight: 400;
        text-align: center;
        font-size: 16px;
        color: #ffd700; }
    .carrusel .banner-content .log {
      width: 100%;
      display: flex;
      justify-content: center; }
      .carrusel .banner-content .log img {
        width: 460px;
        height: 288.47px; }

@media (orientation: portrait) {
  .carrusel {
    height: 50vh; }
    .carrusel .banner-content {
      width: 100%; }
      .carrusel .banner-content .info {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 16px; }
        .carrusel .banner-content .info h2 {
          width: 100%; }
        .carrusel .banner-content .info p {
          width: 90%; }
      .carrusel .banner-content .log {
        display: none; } }

@keyframes banner {
  0% {
    background-image: url(../img/1.png); }
  25% {
    background-image: url(../img/1.png); }
  26% {
    background-image: url(../img/2.png); }
  50% {
    background-image: url(../img/2.png); }
  51% {
    background-image: url(../img/5.png); }
  75% {
    background-image: url(../img/5.png); }
  76% {
    background-image: url(../img/4.png); }
  100% {
    background-image: url(../img/4.png); } }

.hacemos {
  grid-area: "hacemos";
  height: 100vh;
  background-color: #ffd700;
  width: 100%;
  display: flex;
  justify-content: center; }
  .hacemos .why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .hacemos .why .why-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffd700;
      border-radius: 15px;
      width: 500px;
      height: 400px;
      text-align: center;
      color: #1928c4;
      box-shadow: 5px 5px 10px 0px black; }
      .hacemos .why .why-2 h5 {
        font-weight: 800;
        font-size: 35px;
        margin-bottom: 20px; }
      .hacemos .why .why-2 p {
        font-weight: 400;
        font-size: 18px;
        font-weight: 500;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px; }
  .hacemos .video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .hacemos .video div {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      width: 80%;
      padding: 10px; }
      .hacemos .video div img {
        width: 100%;
        height: 230px; }

@media (orientation: portrait) {
  .hacemos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    .hacemos .why {
      width: 100%;
      height: 100%; }
      .hacemos .why .why-2 {
        width: 90%; }
    .hacemos .video {
      width: 100%; }
      .hacemos .video div img {
        width: 100%; } }

.vendedores {
  grid-area: "vendedores";
  background-color: #19284C;
  width: 100%;
  padding-top: 50px; }
  .vendedores h4 {
    color: #ffd700;
    font-size: 35px;
    text-align: center; }
  .vendedores .swiper {
    max-width: 1000px;
    min-height: 500px; }
    .vendedores .swiper .swiper-wrapper {
      margin-left: auto;
      margin-right: auto; }
      .vendedores .swiper .swiper-wrapper .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: 3rem; }
        .vendedores .swiper .swiper-wrapper .swiper-slide .card {
          position: relative;
          min-width: 300px;
          height: 376px;
          background-color: #ececec;
          border-radius: 10px;
          overflow: hidden;
          margin-left: 70px;
          margin-right: 70px; }
          .vendedores .swiper .swiper-wrapper .swiper-slide .card .head {
            height: 100px;
            width: 100%;
            position: relative; }
            .vendedores .swiper .swiper-wrapper .swiper-slide .card .head .circle {
              position: absolute;
              width: 300px;
              height: 300px;
              border-radius: 30%;
              background-color: #ffd700;
              bottom: 0; }
            .vendedores .swiper .swiper-wrapper .swiper-slide .card .head .perfil {
              width: 150px;
              height: 150px;
              position: absolute;
              background-color: #fff;
              padding: 5px;
              border-radius: 50%;
              bottom: -50%;
              left: 50%;
              transform: translate(-50%); }
              .vendedores .swiper .swiper-wrapper .swiper-slide .card .head .perfil img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover; }
          .vendedores .swiper .swiper-wrapper .swiper-slide .card .description {
            height: 200px;
            padding-top: 3.5rem;
            border-bottom: solid 5px #19284C;
            text-align: center; }
            .vendedores .swiper .swiper-wrapper .swiper-slide .card .description h3 {
              color: #000000; }
            .vendedores .swiper .swiper-wrapper .swiper-slide .card .description .title-vendedor {
              color: #19284C;
              font-size: 20px; }
            .vendedores .swiper .swiper-wrapper .swiper-slide .card .description p span {
              color: black;
              font-size: 15px;
              font-weight: bold; }
          .vendedores .swiper .swiper-wrapper .swiper-slide .card .contact {
            width: 100%;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center; }
            .vendedores .swiper .swiper-wrapper .swiper-slide .card .contact a {
              text-decoration: none;
              color: #19284C;
              background-color: #ffd700;
              padding: 5px 20px;
              border-radius: 5px;
              transition: .3s; }
              .vendedores .swiper .swiper-wrapper .swiper-slide .card .contact a img {
                width: 20px;
                height: 20px; }
              .vendedores .swiper .swiper-wrapper .swiper-slide .card .contact a:hover {
                background-color: #ffff60; }
          .vendedores .swiper .swiper-wrapper .swiper-slide .card:hover {
            box-shadow: 0 5px 15px #000000;
            transform: translateY(-5px); }

.ubicacion {
  grid-area: "ubicacion";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh; }
  .ubicacion h3 {
    color: #ffd700;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px; }
  .ubicacion .cont-ubi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; }
    .ubicacion .cont-ubi .ubi iframe {
      width: 600px;
      height: 400px; }
    .ubicacion .cont-ubi .date {
      color: #ffd700;
      font-size: 25px; }
      .ubicacion .cont-ubi .date .date2 {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px; }
        .ubicacion .cont-ubi .date .date2 img {
          width: 40px;
          height: 40px;
          margin-right: 10px; }

@media (orientation: portrait) {
  .ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .ubicacion h3 {
      text-align: center; }
    .ubicacion .cont-ubi {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .ubicacion .cont-ubi .ubi {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center; }
        .ubicacion .cont-ubi .ubi iframe {
          width: 85%;
          height: 400px; }
      .ubicacion .cont-ubi .date {
        width: 90%; }
        .ubicacion .cont-ubi .date .date2 p {
          font-size: 20px; } }

.servicios {
  grid-area: "servicios";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  width: 100%;
  height: 400px; }
  .servicios h3 {
    color: #19284C;
    font-size: 32px;
    font-weight: 800;
    margin-top: 1.5rem; }
  .servicios .swiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    padding-bottom: 1.5rem; }
    .servicios .swiper .swiper-wrapper .swiper-slide .card {
      display: flex;
      background-color: #ffd700;
      margin: 10px;
      width: 480px;
      border-radius: 15px; }
      .servicios .swiper .swiper-wrapper .swiper-slide .card .img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        height: 200px; }
        .servicios .swiper .swiper-wrapper .swiper-slide .card .img img {
          width: 150px;
          height: auto; }
      .servicios .swiper .swiper-wrapper .swiper-slide .card .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }

@media (max-width: 818px) {
  .swiper .swiper-button-prev {
    display: none; }
  .swiper .swiper-button-next {
    display: none; }
  .card {
    width: 400px !important; } }

@media (orientation: portrait) {
  .servicios {
    display: flex;
    justify-content: center;
    align-items: center; }
    .servicios h3 {
      text-align: center; }
    .servicios .cards-contenedor {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      .servicios .cards-contenedor .card {
        width: 100%;
        border-radius: 10px; } }

.presupuesto {
  grid-area: "presupuesto";
  display: flex;
  height: 90vh;
  background-color: #ffd700;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom: solid 1px black; }
  .presupuesto .info {
    color: #19284C;
    text-align: start;
    width: 45%; }
    .presupuesto .info h3 {
      font-size: 45px;
      color: #19284C;
      font-weight: 800; }
    .presupuesto .info p {
      font-size: 25px; }
  .presupuesto form {
    display: grid;
    grid-template-areas: "conteiner3 conteiner4" "mensaje mensaje" "buttom buttom"; }
    .presupuesto form .conteiner3 {
      grid-area: conteiner3;
      margin-right: 10px;
      font-family: sans-serif;
      font-weight: 700; }
      .presupuesto form .conteiner3 .formulario {
        display: flex;
        flex-direction: column;
        margin: 5px 0px; }
        .presupuesto form .conteiner3 .formulario input {
          padding: 5px;
          border-radius: 5px;
          background-color: #ffff60;
          height: 33px; }
    .presupuesto form .conteiner4 {
      grid-area: conteiner4;
      font-family: sans-serif;
      font-weight: 700; }
      .presupuesto form .conteiner4 .formulario {
        display: flex;
        flex-direction: column;
        margin: 5px 0px; }
      .presupuesto form .conteiner4 input {
        border-radius: 5px;
        padding: 5px;
        background-color: #ffff60;
        height: 33px; }
      .presupuesto form .conteiner4 select {
        background-color: #ffff60;
        height: 33px;
        border-radius: 5px;
        border: solid 2px; }
    .presupuesto form .mensaje {
      grid-area: mensaje; }
      .presupuesto form .mensaje .formulario {
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-weight: 700; }
        .presupuesto form .mensaje .formulario textarea {
          background-color: #ffff60;
          border-radius: 5px;
          border: solid 2px;
          resize: none;
          padding: 5px;
          font-family: sans-serif; }
    .presupuesto form .buttom {
      grid-area: buttom; }
      .presupuesto form .buttom button {
        background-color: #19284C;
        color: white;
        font-family: sans-serif;
        font-weight: 700;
        padding: 7px;
        border-radius: 5px;
        margin-top: 10px; }
        .presupuesto form .buttom button:hover {
          box-shadow: 0 5px 15px black;
          transform: translateY(-3px); }
      .presupuesto form .buttom .mensaje-enviado {
        background-color: rgba(17, 17, 211, 0.651);
        color: white;
        padding: 10px;
        border-radius: 7px;
        margin-top: 7px;
        text-align: center;
        color: #ffff60;
        border: 3px solid #19284C; }

@media (orientation: portrait) {
  .presupuesto {
    display: flex;
    flex-direction: column;
    padding: 10px; }
    .presupuesto .info {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%; }
      .presupuesto .info .prep {
        margin-bottom: 40px; } }

.cuerpo {
  display: grid;
  background-color: #19284C;
  font-family: "Roboto Slab", serif;
  width: 100%;
  min-height: 100vh;
  grid: "carrusel" 1fr / 100%; }

#pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  background-color: #ffd700;
  padding: 1em 0; }
  #pie div h4 {
    color: #19284C;
    font-size: 30px;
    font-family: sans-serif; }
  #pie ul {
    display: flex;
    text-align: center; }
    #pie ul li {
      display: inline-block; }
      #pie ul li a {
        text-decoration: none;
        display: flex;
        align-items: center;
        font-family: "Roboto Slab", serif;
        color: #19284C; }
        #pie ul li a img {
          width: 100px;
          height: 100px; }

@media (orientation: portrait) {
  #pie ul {
    display: flex;
    flex-direction: column; } }
