@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Slab:wght@500&display=swap');
.cuerpo{
    display: grid;
    background-color: $color-primary;
    font-family: $font;
    min-height: 100vh;
    // grid-template-areas: 
    // "carrusel" 
    // "vendedores"
    // "hacemos"
    // "servicios"
    // "ubicacion"
    // "presupuesto";


        grid: 
         "carrusel" 1fr 
         "vendedores"  1fr   /    
            100%
        ;

        //  .carrusel{
        //     grid-area: carrusel;
        //     background-color: red;
        // }
    .carrusel{
        grid-area: carrusel;
        position: relative;
        width: 100%;
        height: 80vh;
        background-image: url(../img/carrusel1.jpg);
        background-position: center;
        background-size: cover;
        transition: all .1s ease-in-out;
        animation: banner 28s infinite linear;
        .banner-content{
            width: 100%;
            height: 100%;
            color: #fff;
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9023984593837535) 3%, rgba(0,0,0,0) 100%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .info{
                h1{
                    font-family: $font;
                    font-weight: 800;
                    font-size: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    color: $color-secundario;
                }
                p{
                    font-family: $font;
                    width: 50%;
                    font-weight: 400;
                    text-align: center;
                    font-size: 20px;
                    color: $color-secundario;
                }
            }
        }
    }
    .vendedores{
        grid-area: "vendedores";
        background-color: $color-primary;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        h5{
            color: $color-secundario;
            font-size: 50px;
            text-align: center;
        }
        .card{
            position: relative;
            max-width: 300px;
            height: 430px;
            background-color: #cecece;
            border-radius: 10px;
            overflow: hidden;
            .head{
                height: 125px;
                width: 100%;
                position: relative;
                
                .circle{
                    position: absolute;
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    background-color: $color-secundario;
                    bottom: 0;
                }
                .perfil{
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    background-color: #fff;
                    padding: 5px;
                    border-radius: 50%;
                    bottom: -50%;
                    left: 50%;
                    transform: translate(-50%);
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
            .description{
                height: 300px;
                padding: 40px 20px 20px 20px;
                border-bottom: solid 5px $color-primary;
                text-align: center;
                h3{
                    color: #000000;
                }
                h4{
                    color: $color-primary;
                }
                p{
                    color: rgb(0, 0, 0);
                    font-size: 15px;
                }
            }
            .contact{
                width: 100%;
                height: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    text-decoration: none;
                    color: $color-primary;
                    background-color: $color-secundario;
                    padding: 5px 20px;
                    border-radius: 5px;
                    transition: .3s;
                    &:hover{
                        background-color: #ffff60;
                    }
                }
            }
            &:hover{
                box-shadow: 0 5px 15px black;
                transform: translateY(-15px);
            }
        }
        
    }
//     .hacemos{
//             grid-area: "hacemos";
//             display: flex;
//             align-items: center;
//             height: 100vh;
//             background-color: $color-secundario;
//             .why{
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 width: 50%;
//                 .why-2{
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: center;
//                     background-color: $color-secundario;
//                     border-radius: 15px;
//                     height: 400px;
//                     width: 400px;
//                     text-align: center;
//                     color: #1928c4;
//                     box-shadow: 5px 5px 15px 0px rgb(0, 0, 0);
//                     h5{
//                         font-weight: 800;
//                         font-size: 30px;
//                     }
//                     p{
//                         font-weight: 400;
//                         font-size: 18px;
//                         font-weight: 500;
//                     }
//                 }
//             .video{
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }
//             }
//     }
//     .servicios{
//         grid-area: "servicios";
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         flex-wrap: wrap;
//         background-color: #fff;
//         width: 100%;
//         height: 80vh;
//         h3{
//             color: $color-primary;
//             font-size: 60px;
//         }
//         .cards-contenedor{
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-wrap: wrap;
//             .card-contenedor{
//                 background-color: $color-secundario;
//                 margin: 20px;
//                 div{
//                     .img{
//                         display: flex;
//                         align-items: center;
//                     }
//                 }
//             }
//         }
//     }
//     .ubicacion{
//         grid-area:"ubicacion";
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         width: 100%;
//         height: 100vh;
//         h3{
//             color: $color-secundario;
//             font-size: 50px;
//             margin-left: 20%;
//         }
//         .cont-ubi{
//             display: flex;
//             justify-content: space-around;
//             align-items: center;
//             .date{
//                 color: $color-secundario;
//                 font-size: 25px;
//             }
//         }
//     }
//     .presupuesto{
//         grid-area: "presupuesto";
//         display: flex;
//         height: 100vh;
//         background-color: $color-secundario;
//         justify-content: space-around;
//         align-items: center;
//         .info{
//             color: $color-primary;
//             width: 40%;
//             text-align: start;
//             h3{
//                 font-size: 50px;
//                 color: $color-primary;
//                 font-weight: 800;
//             }
//             p{
//                 font-size: 25px;
//             }
//         }
//         form{
//             display: grid;
//             grid-template-areas: 
//             "conteiner3 conteiner4"
//             "mensaje mensaje"
//             "buttom buttom";
//             .conteiner3{
//                 grid-area: conteiner3;
//                 margin-right: 10px;
//                 .formulario{
//                     display: flex;
//                     flex-direction: column;
//                     input{
//                         border-radius: 8px;
//                         background-color: #ffff60;
//                         height: 33px;
//                     }
//                 }                
//             }
//             .conteiner4{
//                 grid-area: conteiner4;
//                 .formulario{
//                     display: flex;
//                     flex-direction: column;
//                 }
//                 input{
//                     border-radius: 8px;
//                     background-color: #ffff60;
//                     height: 33px;
//                 }
//                 select{
//                     background-color: #ffff60;
//                 }
//             }
//             .mensaje{
//                 grid-area: mensaje;
//                 textarea{
//                     background-color: #ffff60;
//                 }
//             }
//             .buttom{
//                 grid-area: buttom;
//                 input{
//                     background-color: $color-primary;
//                     color: white;
//                     padding: 5px;
//                     border-radius: 5px;
//                     margin: 10px;
//                     &:hover{
//                         box-shadow: 0 5px 15px black;
//                         transform: translateY(-3px);
//                     }
//                 }

//             }
//         }
//         box-shadow: 0 10px 5px 0 black;
//     }
}

// @keyframes banner {
//     0%{
//         background-image: url(../img/carrusel1.jpg);
//     }
//     25%{
//         background-image: url(../img/carrusel1.jpg);
//     }
//     26%{
//         background-image: url(../img/carrusel2.jpg);
//     }
//     50%{
//         background-image: url(../img/carrusel2.jpg);
//     }
//     51%{
//         background-image: url(../img/carrusel3.jpg);
//     }
//     75%{
//         background-image: url(../img/carrusel3.jpg);
//     }
//     76%{
//         background-image: url(../img/WhatsApp_);
//     }
//     100%{
//         background-image: url(../img/WhatsApp_);
//     }
// }