@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto+Slab:wght@500&display=swap');
@import "./main/carrusel.scss";
@import "./main/hacemos.scss";
@import "./main/vendedores.scss";
@import "./main/ubicacion.scss";
@import "./main/servicios.scss";
@import "./main/presupuesto.scss";
@import "../base/variables.scss";
.cuerpo{
    display: grid;
    background-color: $color-primary;
    font-family: $font;
    width: 100%;
    min-height: 100vh;
        // grid: 
        //  "carrusel" 1fr 
        //  "vendedores"  1fr   
        //  "hacemos"  1fr
        //  "servicios"    1fr
        //  "ubicacion"    1fr
        //  "presupuesto" 1fr  /    
        //     100%
        // ;

         grid: 
         "carrusel" 1fr /
           100%

}

