.hacemos{
        grid-area: "hacemos";
        display: flex;
        align-items: center;
        height: 100vh;
        background-color: $color-secundario;
        .why{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            .why-2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $color-secundario;
                border-radius: 15px;
                height: 400px;
                width: 400px;
                text-align: center;
                color: #1928c4;
                box-shadow: 5px 5px 15px 0px rgb(0, 0, 0);
                h5{
                    font-weight: 800;
                    font-size: 30px;
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .video{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;                
                #vid{
                    width: 560px;
                    height: 315px;
                }
            }
        }
    }

@media (orientation:portrait){

    .hacemos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .why{
            .video{
                width: 100px;
            }
        }
    }

}