.presupuesto{
    grid-area: "presupuesto";
    display: flex;
    height: 100vh;
    background-color: $color-secundario;
    justify-content: space-around;
    align-items: center;
    .info{
        color: $color-primary;
        text-align: start;
        width: 45%;
        h3{
            font-size: 50px;
            color: $color-primary;
            font-weight: 800;
        }
        p{
            font-size: 25px;
        }
    }
    form{
        display: grid;
        grid-template-areas: 
        "conteiner3 conteiner4"
        "mensaje mensaje"
        "buttom buttom";
        .conteiner3{
            grid-area: conteiner3;
            margin-right: 10px;
            .formulario{
                display: flex;
                flex-direction: column;
                input{
                    border-radius: 8px;
                    background-color: #ffff60;
                    height: 33px;
                }
            }                
        }
        .conteiner4{
            grid-area: conteiner4;
            .formulario{
                display: flex;
                flex-direction: column;
            }
            input{
                border-radius: 8px;
                background-color: #ffff60;
                height: 33px;
            }
            select{
                background-color: #ffff60;
                height: 33px;
                border-radius: 8px;
                border: solid 2px;
            }
        }
        .mensaje{
            grid-area: mensaje;
            .formulario{
                display: flex;
                flex-direction: column;
                textarea{
                    background-color: #ffff60;
                    border-radius: 8px;
                    border: solid 2px;
                }
            }                
        }
        .buttom{
            grid-area: buttom;
            input{
                background-color: $color-primary;
                color: white;
                padding: 5px;
                border-radius: 5px;
                margin: 10px;
                &:hover{
                    box-shadow: 0 5px 15px black;
                    transform: translateY(-3px);
                }
            }
        }
    }
    border-bottom: solid 1px black;
}

@media (orientation: portrait){

    .presupuesto{
        display: flex;
        flex-direction: column;
        .info{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            .prep{
                margin-bottom: 40px;
            }
        }
    }

}