.servicios{
    grid-area: "servicios";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
    height: auto;
    h3{
        color: $color-primary;
        font-size: 45px;
        font-weight: 800;
    }
    .cards-contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .card{
            display: flex;
            background-color: $color-secundario;
            margin: 20px;
            width: 480px;
            border-radius: 15px;
                .img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                    height: 200px;
                    img{
                        width: 150px;
                        height: auto;

                    }
                }
                .card-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
        }
    }
}

@media (orientation: portrait){

    .servicios{
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            text-align: center;
        }
        .cards-contenedor{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .card{
                width: 100%;
                border-radius: 10px;
            }
        }
    }

}