.servicios {
    grid-area: "servicios";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
    height: 400px;

    h3 {
        color: $color-primary;
        font-size: 32px;
        font-weight: 800;
        margin-top: 1.5rem;
    }

    .swiper {
            // background-color: red;
        .swiper-wrapper {
                
            .swiper-slide {
                // background-color: red;
                
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-right: 100px;
                padding-bottom: 1.5rem;
                // padding-top: rem;


                .card {
                    display: flex;
                    background-color: $color-secundario;
                    margin: 10px;
                    width: 480px;
                    border-radius: 15px;

                    .img {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 15px;
                        height: 200px;

                        img {
                            width: 150px;
                            height: auto;

                        }
                    }

                    .card-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }



        }


    }


}





@media (max-width: 818px) {

    .swiper{
        .swiper-button-prev{
            display: none;
        }
        .swiper-button-next{
            display: none;
        }
    }


    .card{
        width: 400px !important;
        // background-color: white !important ;
    }
}


@media (orientation: portrait) {

    .servicios {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            text-align: center;
        }

        .cards-contenedor {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .card {
                width: 100%;
                border-radius: 10px;
            }
        }
    }

}

@media (max-width: 500px){
    .servicios{
        height: 65vh;
        h3{
            font-size: 30px;
        }
    }
}